# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
IrelandNF/interface/ireland_NF_eventpictures.gfx
IrelandNF/interface/ireland_NF_leader_portraits.gfx
IrelandNF/gfx/leaders/IRE/Portrait_Ireland_Hugh_McAteer.dds
IrelandNF.mod
*.mod
IrelandNF/common/ideas/NF_ireland.txt
IrelandNF/localisation/ireland_NF_victory_points_l_english.yml
IrelandNF/localisation/ireland_NF_focus_l_english.yml
IrelandNF/history/units/IRE_1939.txt
IrelandNF/common/national_focus/ireland.txt
IrelandNF/common/opinion_modifiers/00_NF_irish_opinion_modifiers.txt
IrelandNF/events/IrelandNF_NewsEvents.txt
IrelandNF/history/states/113-Ireland.txt
IrelandNF/gfx/event_pictures/IRE_news_event_001.dds
IrelandNF/localisation/ireland_NF_ideas_l_english.yml
IrelandNF/history/units/IRE_1936.txt
IrelandNF/history/states/119-Northern Ireland.txt
IrelandNF/localisation/ireland_NF_events_l_english.yml
IrelandNF/localisation/ireland_NF_diplomacy_l_english.yml
IrelandNF/history/states/135-Munster.txt
IrelandNF/history/states/134-Connaught.txt
